.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.calibre2 {
    font-weight: bold
    }
.calibre3 {
    display: block
    }
.calibre4 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.67em 0
    }
.calibre5 {
    line-height: 1.2
    }
.calibre6 {
    font-weight: normal;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    line-height: 1.2
    }
.calibre8 {
    display: block;
    margin: 1em 0
    }
.calibre9 {
    display: block;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.calibre10 {
    display: block;
    font-weight: bold;
    margin: 1em 0
    }
.calibre11 {
    display: block;
    text-align: center;
    margin: 1em 0
    }
.calibre12 {
    font-style: italic
    }
.calibre13 {
    height: auto;
    width: auto
    }
.metadata {
    display: block;
    font-family: sans-serif;
    font-size: 0.83333em;
    font-weight: normal;
    line-height: 145%;
    text-indent: -1.3em;
    margin: 0.2em 0 0 1.3em
    }
.sgc-toc-level {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.sgc-toc-title {
    display: block;
    font-size: 1.29167em;
    font-weight: bold;
    line-height: 1.2;
    margin: 0.83em 0
    }
.softbreak {
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    page-break-before: avoid;
    text-align: center;
    margin: 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.subheadline {
    display: block;
    font-family: serif;
    font-size: 1.83333em;
    font-weight: normal;
    line-height: 1.2;
    text-align: left;
    text-indent: 0;
    margin: 1em 0 0.5em
    }
.subheadline1 {
    display: block;
    font-family: sans-serif;
    font-size: 1.29167em;
    font-weight: normal;
    line-height: 145%;
    text-indent: -1.3em;
    margin: 0.5em 0 0 1.3em
    }
.teasertext {
    display: block;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: normal;
    line-height: 145%;
    text-indent: 0;
    margin: 1.5em 0 0
    }
.zenopr {
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 0;
    margin: 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
.zenopr1 {
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 1.5em;
    margin: 0;
    border-top: currentColor none 0;
    border-bottom: currentColor none 0
    }
